logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Android / Mobile local files
android-sdk/
android/.gradle/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/
*.timestamp-*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
jdk-*
gradle*
install_android_sdk.sh
